<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=100px, initial-scale=1.0">
  <title>Thông tin cá nhân</title>
</head>

<body>
  <h1>{{name}}</h1>
  <h1>{{user.name}}</h1>
  <h1>{{user.age}}</h1>
  <h1>{{user.dev}}</h1>
  <button type="buton" (click)=hanrd()> click me</button>
  <br>
  <input type="text"  />
  <br>
  <input type="text" [(ngModel)]="name1"/>

  <h2>{{name1}}</h2>
  <div *ngIf="user.age>=18"> you seee name for you {{user.name}} </div>
  <button  type="button" (click)="tu =tu+1">+</button>
  Tuổi:{{tu}}
  <button  type="button" (click)="tu =tu-1">-</button>
  <div *ngIf="tu>=18"> you seee name for you </div>
  <div *ngIf="tu<18"> you can see name for you </div>
</body>

</html>